:root {
  --font-heading: 'Arial Black', sans-serif;
  --font-body: 'Verdana', sans-serif;
  --font-heading-size: 36px;
  --font-body-size: 42px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: var(--font-body);
}

#mainMenu {
  text-align: center;
}

h1 {
  font-family: var(--font-heading);
}

.play-button {
  font-size: 24px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-family: var(--font-body);
  border: none;
  border-radius: 10px;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #45a049;
}

.play-button:active {
  background-color: #3e8e41;
}

/* Общие стили для игрового контейнера */
#gameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 348px;
  max-height: 610px;
  background-color: #f0f0f0;
}

#gameCanvasContainer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#controls {
  width: 100%;
  height: 100px;
  background-color: #ddd;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.control-button {
  width: 80px;
  height: 80px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.control-button img {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  margin: 0;
  padding: 0;
}
